*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    position: relative;
    background: url(09.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .box{
    height: 86vh;
    width: 75%;
    padding: 0 20px;
    background-color: rgba(255, 255, 255, 0.1);
    z-index: 10;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius:20px;
    display: flex;
    backdrop-filter: blur(25px);
    box-shadow: -15px 17px 17px rgba(10, 10, 10, 0.15);
}

.container nav{
    height: 7%;
    width: 90%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px auto;
    padding: 20px;
}

.container .logo{
    font-size: 32px;
    font-weight: 700;
    text-decoration: none;
    color: #000;
    margin-left: 30px;
}

.container .logo::first-letter{
    color: #6f34fe;
    font-size: 35px;

}

.container nav ul li{
    display:inline-block;
    padding:  0 20px;
}

.container nav ul li a{
    text-decoration: none;
    font-size: 18px;
    color: #000;
    transition: 0.3s;
}

.container nav ul li a:hover{
    color: #6f34fe;
    
}

.content{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 8%;
    padding-left: 80px;
}

.content .section-1 {
    position: relative;
    width: 40%;
}

.content .section-1 h1{
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
    color: #000;
}
.content .section-1 h3{
    font-size: 24px;
    color: #6f34fe;
    margin-bottom: 10px;
}

.content .section-1 p{
    font-size: 15px;
    color: #505052;
    margin-bottom: 50px;
}

.content .btn{
    padding:  15px 20px;
    border-radius: 5px;
    background-color: #6f34fe;
    border: 3px solid #6f34fe;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}

.content .btn:hover{
    background-color: #ffff;
    color: #6f34fe;
    filter: drop-shadow(0px 0px 13px black);
    border:1.3px solid black;
}

.content .section-2 {
    width: 60%;
    position: relative;
}

.content .section-2::after{
    content: "";
    position: absolute;
    background-color: #6f34fe;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    z-index: -1;
    top: 20%;
    left: 24%;
}


#sanjay{
    margin-bottom: 23px;
    padding-left: 97px;
}

.content .social{
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: absolute;
    left: 10px;
    top: 30%;
    font-size: 25px;
    color: #6f34fe;
    cursor: pointer;
}






